.ButtonCarica{

    display: block;
    
    width: 100%;
    
    max-width: 200px; line-height: 35px;
    
    background-color: #D68FD6;
    
    border-radius: 10px;
    
    margin: 10px;
    
    }
    
    •ButtonCarica.hover{ color: #464F51;
    
    }
    
    .ButtonCarica.mouseOn{
    
    border-color: #11DDB4;
    
    }
    
    .ButtonCopia.disabled{
    
    background-color: white;
    
    }